spring:
  application:
    name: app

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
app:
  jwt:
    secret: skillgain-super-secret-key-1234567890
    expiration-ms: 86400000