spring:
  application:
    name: app

  datasource:
    url: jdbc:postgresql://localhost:5432/skillgain
    username: sg_admin
    password: Password1
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: public
app:
  jwt:
    secret: skillgain-super-secret-key-1234567890
    expiration-ms: 86400000